* {
    padding: 0;
    margin: 0 auto;
}

body {
    background-color: black;
    margin: 0 auto;
}

td {
    width: 20px;
    height: 20px;
}

h1 {
    font: normal 20px monospace;
    color: white;
    text-align: center;

}

.blank {
    background-color: blank;
}

.snake {
    background-color: green;
}

.wall {
    background-color: white;
}

.apple {
    background-color: red;
}
